*
{
    margin: 0;
    padding: 0;
}

.header1
{
    background-image: url(../Images/Background/slider_1_1920_1200.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}

.unordered
{
    display: none;
}

.ham
{
    display: block;
    color: white;
} 

.navbar
{
    
    background-color: black;
    opacity: 0.7; 
}

.head-div1
{
     display: flex;
    justify-content: space-between;
    
}

.button1
{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.section1
{
    text-align: center;
    margin-top: 50px;
}

.h1-div
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sec1-p
{
    margin-top: 30px;
}

.sec1-p2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button2
{
    display: none;
}

.div-b2
{
    background-color: red;
    color: white;
    height: 30px;
    border-color: red;
}

.nav-hr
{
   color: lightgrey;
}

.head-div2
{
    text-align: center;
    margin-top: 100px;
}

.div-h4
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-h1
{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
}

.div-button
{
    background-color: red;
    color: white;
    height: 30px;
    border-color: red;
    Margin-top: 30px;   
}

.section2
{
    background-image:  linear-gradient(to top,rgba(0, 0, 0, 0.827)),  url('../Images/Background/sellers-1-1600x1600.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    margin-top: 90px; 
}

.sec2-h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: white;
}

.sec2-div
{
   text-align: center;
   padding-top: 30px;
}

.sec2-div4
{
    margin-top: 30px;
}

.sec2-div2
{
    margin-top: 30px;
}

.sec2-p1
{
    margin-top: 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.sec2-button
{
    border-color: red;
    Margin-top: 20px; 
}

.sec2-button:hover
{
    background-color: red;
}

.button-sec2
{
    background-color: red;
    color: white;
    height: 30px;
    border-color: red;
    Margin-top: 30px;  
    margin-bottom: 20px;
}

.sec3-h1
{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section3
{
    margin-top: 70px;
}

.sec3-div1
{
    text-align: center;
}

.sec3-div2
{
    display: flex;
    justify-content: space-evenly; 
    margin-top: 30px;
}

.sec3-div3
{
    display: flex;
    justify-content: space-evenly; 
    margin-top: 10px;
}

.sec3-p
{
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec3-p2
{
    color: red;
}

.sec3-h3
{
    font-family: Arial, Helvetica, sans-serif;
}

.sec3-hr
{
    margin-top: 20px;
    color: red;
}

.sec3-button
{
    text-align: center;
}

.footer1
{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.623)),  url('../Images/Background/footer_1600x800.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    padding-bottom: 40px;
}

.foot-div1
{
    text-align: center;
    padding-top: 50px;
    
}

.foot-anchor
{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    
}

.foot-h1
{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15px;
    
}

.foot-h1:hover
{
    color: red;
}

.foot-div2
{
    text-align: center;
    margin-top: 30px;
}

.foot-p3
{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.foot-p3:hover
{
    color: red;
}

@media(min-width:768px)
{
    .unordered
    {
        display: block;
        display: flex;
        justify-content: space-evenly;
        width: 49%;
        margin-top: 20px;
    }
    
    .anchor
    {
        text-decoration: none;
        font-size: 20px;
        color: white;
    }

    .ham
    {
        display: none;
    }
    .sec1-p
    {
        display: flex;
        justify-content: space-evenly;
    }
    
    .list
    {
        list-style-type: none;
    }

    .button1
    {
        display: none;
    }

    .button2
    {
        display: block;
        margin-top: 20px;
    }

    .nav-hr
    {
        display: none;
    }

    .sec2-div3
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* width: 83%; */
    }
    
    .div-parent
    {
        display: flex;
    }
}

@media(min-width:992px)
{
    
    
    .section1
    {
        background-image: url(../Images/Illustration/story_bg_1.png);
        background-repeat: no-repeat;
        height: 200px;
        
    }

    .sec2-div3
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .section2
    {
        margin-top: 150px;
    }

    .foot-anchor
    {
        font-size: 25px;
    }
}